Server={{ zabbix_server_ip }}
ServerActive={{ zabbix_server_ip }}
Hostname={{ inventory_hostname }}
ListenPort=10050
RefreshActiveChecks=120
BufferSend=5
BufferSize=100
LogFile=/var/log/zabbix/zabbix_agent2.log
LogFileSize=0